body{
    align-items: center;
    justify-content: center;
    background-color: black;
}
img{
    width: 100%;
    height:100%;
    display:inline;

}
.gallery{            
    display: inline;
    text-align: center;
    width: au;
}
nav a{
    color:aliceblue;
    font-size: 70%;
}
figcaption{
    color: white;
}